body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

nav,
section,
.book {
  display: flex;
}

nav {
  align-items: center;
  justify-content: space-around;
}

ul {
  display: flex;
}

ul li {
  margin-right: 1em;
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  text-align: center;
}

section {
  flex-direction: column;
}

button {
  cursor: pointer;
}

.book {
  margin: 1em;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}

footer {
  padding: 2em;
  text-align: center;
}
