body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

nav,
section,
.book {
  display: flex;
  background-color: white;
}

nav {
  margin-left: 6.3%;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  align-items: center;
}

ul li {
  margin-right: 1em;
  list-style: none;
}

i {
  margin-right: 6.8%;
}

.fas .fa-user {
  justify-self: flex-end;
}

a {
  text-decoration: none;
}

main {
  text-align: center;
  border-top: 1px solid #888;
  border-radius: 3px;
  background-color: rgba(228, 211, 211, 0.198);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  flex-direction: column;
}

button {
  cursor: pointer;
}

.book {
  margin: 1rem auto;
  width: 87%;
  height: 15%;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}

.book > p {
  margin-left: 1.5%;
}

.form,
.book {
  border: 1px solid #888;
  border-radius: 3px;
}

footer {
  padding: 2em;
  text-align: center;
}

.circle {
  width: 3rem;
  height: 3rem;
  border: solid 5px rgb(192, 191, 191);
  border-radius: 50%;
}

.range {
  position: relative;
  margin: 5rem;
}

.completed {
  position: absolute;
  margin-left: 3%;
  font-size: 0.8rem;
  text-transform: capitalize;
  color: #888;
}
