body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

nav,
section,
.book {
  display: flex;
  background-color: white;
}

nav {
  align-items: center;
  justify-content: space-evenly;
}

.nav-items {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  align-items: center;
}

ul li {
  margin-right: 1em;
  list-style: none;
}

.fas .fa-user {
  justify-self: flex-end;
}

a {
  text-decoration: none;
}

main {
  background-color: rgb(241, 234, 234);
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  flex-direction: column;
}

button {
  cursor: pointer;
}

.book {
  margin: 1rem auto;
  width: 57%;
  height: 15%;
  font-size: 1.25rem;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgb(201, 197, 197);
}

footer {
  padding: 2em;
  text-align: center;
}
